<form action="/add" method="POST" enctype="multipart/form-data">
    <label for="name" class="form-item">
        Name:
        <input type="text" name="name" value="Please pick a name">
    </label>

    <label>
        Image:
        <input type="file" name="cheeseImage"/>
    </label>
    <input type="submit" name="" value="Submit">
</form>