{{>header}}

<div class="container">
    {{#each cheeseSelection}}
        <img class="img-circle" src="{{image}}" alt="{{name}}">{{name}}{{votes}}
    {{/each}}
</div>

<a href="/add"><button class="submit-button" type="submit">ADD CHEESE</button></a>