{{>header}}

<div class="container">
    <p>container <button>vote</button></p>
     <p>container<button>vote</button></p>
      <p>container<button>vote</button></p>
       <p>container<button>vote</button></p>
</div>

<a href="/add"><button class="submit-button" type="submit">ADD CHEESE</button></a>