body {
    background-color:#FAA600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



img{
    height: 200px;
    width: auto;
}

.container{
    display: flex; 
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    
}


.cheeseText {
    font-size: 20px;
}

.addCheese{
    margin-top: 50px;
    padding: 10px 20px 10px 20px;
}

.individualCheese {
    background-color: #FDCA40;
    margin: 1% 1% 1% 1%;
    border-radius: 10px;
    text-align: center;
    padding: 20px 20px 20px 20px;
}

h1{
    padding-top: 20px;
    padding-bottom: 50px;
    color: #2B0163;
    font-family: 'Lobster', cursive;
    font-size: 60px;
    text-align: center;
}

button, .button-add-cheese{
    background-color: #87A330;
    color: white;
    font-size: 25px;
    border: none;
    border-radius: 10px;
    text-align: center;
    margin: auto;
}

a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding-top: 80px;
}

.submit-button{
    padding: 10px 20px 10px 20px;
    font-size: 50px;
    }

.submit-button:hover{
        font-size: 55px;  

}


    /* Add Cheese Page */

    .form-item{
        margin-top: 10px;
        font-weight: bold;
 
    text-align: center;
}
    
    form{
        padding: 20px 0px 20px 0px;
        font-size: 25px;
        background-color: #FDCA40;
        border-radius: 10px;
        margin: 0 200px 0 200px;   
    }

    
